.container{
    display: block;
   font-style: inherit;
   color: aquamarine;
   background-color: black;
   text-align: center;
   border: 70px;
    
}



.heading{
    font-style: oblique;
    flex-direction: column;
    color: aqua;
    background-color: rgb(188, 106, 106);
    flex-direction: column;
   

}
.paragraph{
    border: 10px solid coral;
}