.st{
    display: block;
   font-style: inherit;
   color: aquamarine;
   background-color: black;
   text-align: center;
   border: 70px;
    
}



.styles{
    font-style: oblique;
    flex-direction: column;
    color: aqua;
    background-color: black;
    flex-direction: column;
   

}
.to{
    border: 10px solid coral;
}